.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: white;
  text-align: center;
}

.hero span {
  color: #ffd700;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #ffd700;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }
}