html{
  scroll-behavior: smooth;
}

  body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.section {
  padding: 60px;
  text-align: center;
}

.light {
  background: #f5f5f5;
}

.skills {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 10px;
  background: #eaeaea;
}

.dark {
  background: #121212;
  color: white;
}

.dark .light {
  background: #1e1e1e;
}

.dark .project-card {
  background: #2a2a2a;
}